@{
    Layout = "_Layout";
}
<link href="~/css/food-business.css" rel="stylesheet" />
<link href="~/css/welcome-admin.css" rel="stylesheet" />
<link href="~/css/admincreate.css" rel="stylesheet" />
<div class="container">
    <div class="dashboard">Dashboard</div>
    <div class="flex-container">
        <div class="welcome-container">
            <div class="admin-welcome">
                <div class="admin-name">
                    Welcome Back, Mori!
                </div>
                <div class="check-updates">Check out new updates</div>
                <div class="user-profile-btn-container">
                    <button class="user-profile-btn">
                        User Profiles
                    </button>
                </div>
            </div>
            <div class="welcome-pic">
                <img src="/images/dashboardImg/AdminImg.svg" alt="" class="welcome-img">
            </div>
        </div>
    </div>
    <!--DASHBOARD USERLIST NAVIGATION SCREENNSS-->
    <div class="user-container">
        <div class="user-profiles">
            User Profiles
        </div>
        <div class="admin-create"><button>Food Business</button></div>
        <div class="dashboard-home-container">
            <div class="food-dashboard-home-container">
                <div class="food-business-cont">
                    <div class="margin-gap">
                        <input type="text" class="username" placeholder="Username">
                    </div>
                    <div class="margin-gap">
                        <input type="text" class="email" placeholder="Email">
                    </div>
                    <div class="margin-gap">
                        <div class="pass-input">
                            <input type="password" class="password" id="password" placeholder="Password">
                            <span class="toggle-password" onclick="togglePasswordVisibility()">
                                <img class="img-eye" src="/images/LoginImg/eye-close-up-svgrepo-com.svg" alt="Show/Hide" id="eye-icon">
                            </span>
                        </div>
                    </div>
                    <div class="margin-gap">
                        <div class="pass-input">
                            <input type="password" class="password" id="confirm-password" placeholder="Confirm Password">
                            <span class="toggle-password" onclick="toggleConfirmPasswordVisibility()">
                                <img class="img-eye" src="/images/LoginImg/eye-close-up-svgrepo-com.svg" alt="Show/Hide" id="eyeconfirm-icon">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="food-business-cont">
                    <div class="margin-gap">
                        <input type="text" placeholder="Food Business Name">
                    </div>
                    <div class="margin-gap">
                        <input type="text" placeholder="Province">
                    </div>
                    <div class="margin-gap">
                        <input type="text" placeholder="City">
                    </div>
                    <div class="margin-gap">
                        <input type="text" placeholder="Baranggay">
                    </div>
                </div>
                <div class="food-business-cont">
                    <div class="margin-gap">
                        <input type="text" placeholder="Street">
                    </div>
                    <div class="margin-gap">
                        <div class="food-upload-container">
                            <form action="">
                                <label for="myFile" class="food-custom-file-upload">
                                    Upload Profile Picture
                                </label>
                                <input type="file" id="myFile" name="filename" onchange="displayFileName()">
                                <span id="file-name">No file chosen</span>
                            </form>
                        </div>
                    </div>
                    <div class="margin-gap">
                        <div class="food-upload-container">
                            <form action="">
                                <label for="myPermitFile" class="food-custom-file-upload">
                                    Upload Business Permit
                                </label>
                                <input type="file" id="myPermitFile" name="filename" onchange="displayPermitFileName()">
                                <span id="Permitfile-name">No file chosen</span>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <input class="confirm" type="submit">
        </div>
    </div>
</div>
<script src="~/js/login.js"></script>
<script src="~/js/admin-create.js"></script>