@{
    ViewData["Title"] = "Home Page";
}
<link href="https://fonts.cdnfonts.com/css/sf-pro-display" rel="stylesheet">
<link href="~/css/user-profiles.css" rel="stylesheet" />
<link href="~/css/welcome-admin.css" rel="stylesheet" />
<link href="~/css/header.css" rel="stylesheet" />
<link href="~/css/sidebar.css" rel="stylesheet" />
<div class="container">
    <div class="dashboard">Dashboard</div>
    <div class="flex-container">
        <div class="welcome-container">
            <div class="admin-welcome">
                <div class="admin-name">
                    Welcome Back, Mori!
                </div>
                <div class="check-updates">Check out new updates</div>
                <div class="user-profile-btn-container">
                    <button class="user-profile-btn">
                        User Profiles
                    </button>
                </div>
            </div>
            <div class="welcome-pic">
                <img src="/images/dashboardImg/AdminImg.svg" alt="" class="welcome-img">
            </div>
        </div>
    </div>
    <!--DASHBOARD USERLIST NAVIGATION SCREENNSS-->
    <div class="user-container">
        <div class="user-profiles">
            User Profiles
        </div>
        <div class="category-btn-list-flex">
            <div class="count-num">
                <button class="count-btn">
                    All (9)
                </button>
            </div>
            <div class="count-num">
                <button class="count-btn">
                    Regular (4)
                </button>
            </div>
            <div class="count-num">
                <button class="count-btn">
                    Food Business (1)
                </button>
            </div>
            <div class="count-num">
                <button class="count-btn">
                    Organization (3)
                </button>
            </div>
            <div class="count-num">
                <button class="count-btn">
                    Admin (1)
                </button>
            </div>
            <div class="add">
                <button class="add-btn" id="add-btn">
                    <img src="/images/header-icons/plus-icon.svg" alt="" class="cross-icon">
                </button>
            </div>
        </div>
        <div class="dashboard-home-container">
            <div class="user-profile-list-container">
                <table class="user-list-table">
                    <thead>
                        <tr>
                            <th>
                                <img src="/images/header-icons/down-arrow.svg" alt="" class="down-arrow-img">
                            </th>
                            <th>ID</th>
                            <th>Account-type</th>
                            <th>Username</th>
                            <th>Email</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <!--USER LIST------------->
                    <tbody>
                        <tr data-id="1" data-accounttype="donee organization" data-username="teamsnackers" data-email="teamsnackers@gmail.com">
                            <td>
                                <button class="approved-btn">Approved</button>
                            </td>
                            <td>1</td>
                            <td>donee organization</td>
                            <td>teamsnackers</td>
                            <td>teamsnackers@gmail.com</td>
                            <td>
                                <div class="dropdown">
                                    <button class="action-btn">
                                        Actions <img src="/images/header-icons/down-arrow-white.svg" alt="" class="drop-arrw">
                                    </button>
                                    <div class="dropdown-content">
                                        <button class="dropdown-item">Edit</button>
                                        <button class="dropdown-item" id="del-btn">Delete</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-id="2" data-accounttype="admin" data-username="lexeramorcillo13" data-email="lexeramorcillo13@gmail.com">
                            <td>
                                <button class="pending-btn">Pending</button>
                            </td>
                            <td>2</td>
                            <td>admin</td>
                            <td>lexeramorcillo13</td>
                            <td>lexeramorcillo13@gmail.com</td>
                            <td>
                                <div class="dropdown">
                                    <button class="action-btn">
                                        Actions <img src="/images/header-icons/down-arrow-white.svg" alt="" class="drop-arrw">
                                    </button>
                                    <div class="dropdown-content">
                                        <button class="dropdown-item">Edit</button>
                                        <button class="dropdown-item" id="del-btn">Delete</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr data-id="3" data-accounttype="regular" data-username="johndoe69" data-email="johndoe_69@gmail.com">
                            <td>
                                <button class="reject-btn">Rejected</button>
                            </td>
                            <td>3</td>
                            <td>regular</td>
                            <td>johndoe69</td>
                            <td>johndoe_69@gmail.com</td>
                            <td>
                                <div class="dropdown">
                                    <button class="action-btn">
                                        Actions <img src="/images/header-icons/down-arrow-white.svg" alt="" class="drop-arrw">
                                    </button>
                                    <div class="dropdown-content">
                                        <button class="dropdown-item">Edit</button>
                                        <button class="dropdown-item" id="del-btn">Delete</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!--BLANK CONTAINER-->
            <div class="blank-profile-container">
            </div>

            <!--SELECTED REGULAR ACCOUNT TYPE-->
            <div class="selected-profile-container">
                <div class="user-column-container">
                    <div class="user-details-flex">
                        <div class="profile">
                            <img src="/images/header-icons/channel-1.jpeg" alt="" class="user-img">
                        </div>
                        <div class="column-user-info">
                            <div class="details-info">First Name</div>
                            <div class="details-info">Last Name</div>
                            <div class="details-info">Gender</div>
                            <div class="details-info">Birth Date</div>
                        </div>
                        <div class="column-user-info">
                            <div class="user-details">
                                <input type="text" id="userId" placeholder="" readonly>
                            </div>
                            <div class="user-details">
                                <div class="user-details">
                                    <input type="text" id="accountType" placeholder="" readonly>
                                </div>
                            </div>
                            <div class="user-details">
                                <div class="user-details">
                                    <input type="text" id="username" placeholder="" readonly>
                                </div>
                            </div>
                            <div class="user-details">
                                <div class="user-details">
                                    <input type="text" id="email" placeholder="" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="address-flex-row">
                        <div class="address">Address</div>
                        <div class="input-address-box">
                            <form>
                                <textarea class="address-text" readonly>2nd Phase, Sta. Cruz, Liloan, Cebu</textarea>
                            </form>
                        </div>
                    </div>
                    <div class="fridge-storage-container">
                        <div class="fridge">Fridge Items</div>
                        <div class="table-fridge">
                            <table class="fridge-items">
                                <thead class="item-name">
                                    <tr class="fridge">
                                        <th class="item">Quantity</th>
                                        <th class="item">Serving</th>
                                        <th class="item">Item</th>
                                    </tr>
                                </thead>
                                <tbody class="fridge-list">
                                    <tr class="fridge-tr">
                                        <td class="fridge-td">5</td>
                                        <td class="fridge-td">1</td>
                                        <td class="fridge-td">Chicken</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

            <!--EDITED REGULAR ACCOUNT TYPE-->
            <div class="edit-profile-container" style="display: none;">
                <div class="user-column-container">
                    <div class="user-details-flex">
                        <div class="profile">
                            <img src="/images/header-icons/channel-1.jpeg" alt="" class="user-img">
                        </div>
                        <div class="column-user-info">
                            <div class="details-info">First Name</div>
                            <div class="details-info">Last Name</div>
                            <div class="details-info">Gender</div>
                            <div class="details-info">Birth Date</div>
                        </div>
                        <div class="column-user-info">
                            <div class="user-details">
                                <input type="text" id="editUserId">
                            </div>
                            <div class="user-details">
                                <input type="text" id="editAccountType">
                            </div>
                            <div class="user-details">
                                <input type="text" id="editUsername">
                            </div>
                            <div class="user-details">
                                <input type="text" id="editEmail">
                            </div>
                        </div>
                    </div>
                    <div class="address-flex-row">
                        <div class="address">Address</div>
                        <div class="input-address-box">
                            <form>
                                <textarea class="address-text">2nd Phase, Sta. Cruz, Liloan, Cebu</textarea>
                            </form>
                        </div>
                    </div>
                    <div class="fridge-storage-container">
                        <div class="fridge">Fridge Items</div>
                        <div class="table-fridge">
                            <table class="fridge-items">
                                <thead class="item-name">
                                    <tr class="fridge">
                                        <th class="item">Quantity</th>
                                        <th class="item">Serving</th>
                                        <th class="item">Item</th>
                                    </tr>
                                </thead>
                                <tbody class="fridge-list">
                                    <tr class="fridge-tr">
                                        <td class="fridge-td">5</td>
                                        <td class="fridge-td">1</td>
                                        <td class="fridge-td">Chicken</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="save-edit">
                    <button class="save-edit-btn">Save</button>
                </div>
            </div>

            <!--SELECT ORG ACCOUNT TYPE-->
            <div class="select-org-user-container">
                <div class="user-column-container">
                    <div class="user-details-flex">
                        <div class="profile">
                            <img src="/images/org-img/org-img-sample.svg" alt="" class="user-img">
                        </div>
                        <div class="column-user-info">
                            <div class="details-info">Organization</div>
                            <div class="details-info">Address</div>
                        </div>
                        <div class="column-user-info">
                            <div class="user-details">
                                <input type="text" id="OrguserId" placeholder="" readonly>
                            </div>
                            <div class="user-details">
                                <div class="user-details">
                                    <input type="text" id="OrgaccountType" placeholder="" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="org-flex">
                        <p>Fridge Items</p>
                        <div class="Orgfridge-storage-container">
                            <div class="table-fridge">
                                <table class="fridge-items">
                                    <thead class="item-name">
                                        <tr class="fridge">
                                            <th class="item">Quantity</th>
                                            <th class="item">Serving</th>
                                            <th class="item">Item</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fridge-list">
                                        <tr class="fridge-tr">
                                            <td class="fridge-td">5</td>
                                            <td class="fridge-td">1</td>
                                            <td class="fridge-td">Chicken</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="org-flex">
                        <p>Documents</p>
                        <div class="org-docs-container">
                            <img src="/images/org-img/org-docx-sample.svg" alt="" class="org-docx">
                        </div>
                    </div>
                </div>
            </div>
            <!--EDITED ORG ACCOUNT TYPE-->
            <div class="edit-org-user-container">
                <div class="user-column-container">
                    <div class="user-details-flex">
                        <div class="profile">
                            <img src="/images/org-img/org-img-sample.svg" alt="" class="user-img">
                        </div>
                        <div class="column-user-info">
                            <div class="details-info">Organization</div>
                            <div class="details-info">Address</div>
                        </div>
                        <div class="column-user-info">
                            <div class="user-details">
                                <input type="text" id="editOrgId" placeholder="">
                            </div>
                            <div class="user-details">
                                <div class="user-details">
                                    <input type="text" id="editOrgAccountType" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="org-flex">
                        <p>Fridge Items</p>
                        <div class="Orgfridge-storage-container">
                            <div class="table-fridge">
                                <table class="fridge-items">
                                    <thead class="item-name">
                                        <tr class="fridge">
                                            <th class="item">Quantity</th>
                                            <th class="item">Serving</th>
                                            <th class="item">Item</th>
                                        </tr>
                                    </thead>
                                    <tbody class="fridge-list">
                                        <tr class="fridge-tr">
                                            <td class="fridge-td">5</td>
                                            <td class="fridge-td">1</td>
                                            <td class="fridge-td">Chicken</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="org-flex">
                        <p>Documents</p>
                        <div class="org-docs-container">
                            <img src="/images/org-img/org-docx-sample.svg" alt="" class="org-docx">
                        </div>
                    </div>
                </div>
                <div class="action-org-btn">
                    <button class="Orgaction-btn">
                        Actions <img src="/images/org-img/up-arrow (1).png" alt="" class="Orgdrop-arrw">
                    </button>
                    <div class="dropdown-menu">
                        <button id="approve-btn">Approve</button>
                        <button id="reject-btn">Reject</button>
                    </div>
                </div>
            </div>
            <div id="org-modal" class="org-modal">
                <div class="org-modal-content">
                    <img src="/images/org-img/codicon_organization.svg" alt="" class="org-style">
                    <p id="modal-message"></p>
                    <button class="org-close-modal-btn" id="close-modal">Close</button>
                </div>
            </div>
        </div>

    </div>
</div>
<!---MODALlllllldsdsdssd-->
<div id="deleteModal" class="del-modal">
    <div class="del-modal-content">
        <div class="modal-col">
            <div class="modal-header">
                <img src="/images/header-icons/trash-vec.svg" alt="" class="trash-vec">
            </div>
            <div class="top-mar">The selected user</div>
            <div class="bottom-mar">will be deleted</div>
            <button id="confirmDeleteBtn" class="delete-confirm-btn">Confirm</button>
            <button id="cancelDeleteBtn" class="cancel-modal">Cancel</button>
        </div>
    </div>
</div>
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="create-acc">Create a account</div>
        <div class="account-content">
            <form method="get" asp-action="AdminCreate">
                <button class="admin-btn">
                    Admin
                </button>
            </form>
            <form method="get" asp-action="RegularCreate">
                <button class="admin-btn">
                    Regular
                </button>
            </form>
            <form method="get" asp-action="FoodBusinessCreate">
            <button class="food-act-btn">
                Food Business
            </button>
            </form>
            <form method="get" asp-action="OrganizationCreate">
            <button>Organization</button>
            </form>
        </div>
        <div class="close-btn-modal" id="closeModalBtn">
            <button class="close-modal"><img src="/images/header-icons/close-btn.svg" alt="" class="close"></button>
        </div>
    </div>
</div>
<script src="~/js/selectuser.js"></script>
<script src="~/js/modal.js"></script>
<script src="~/js/approvemodal.js"></script>